<div class="d-flex justify-content-end">
    <si-button
        *ngIf="config.addButton"
        [config]="config.addButton.button"
        [routerLink]="config.addButton.routerLink">
    </si-button>
</div>
<table class="table" [ngClass]="config.style?.tableExtendedClass">
    <thead [ngClass]="config.style?.theadClass">
        <tr>
            <th scope="col" *ngFor="let header of config.header">{{header.columnLabel | translate}}</th>
            <th *ngIf="config.actions">{{'global.actions' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
            <td *ngFor="let header of config.header">{{row[header.fieldName]}}</td>
            <td *ngIf="config.actions">
                <div class="d-flex flex-nowrap">
                    <si-button
                        (click)="onActionClick(action, row)"
                        *ngFor="let action of config.actions"
                        [config]="action.button">
                    </si-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>