<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Si2001</a>
  <button class="navbar-toggler" type="button" (click)="showMenu = !showMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="showMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of items">
        <a class="nav-link"
           (click)="showMenu = false;"
           [routerLink]="item.path"
           routerLinkActive="active">
          {{item.name | translate}}
        </a>
      </li>
    </ul>

    <select class="form-control w-auto mr-3" [(ngModel)]="currentLang" (ngModelChange)="onLangChange($event)">
      <option *ngFor="let lang of langs">{{lang}}</option>
    </select>
    <span class="navbar-text">
      {{'global.welcome-message' | translate: user}}
    </span>
    <si-button [customClasses]="'btn-sm'" [text]="'global.logout' | translate" (click)="logout()"></si-button>
  </div>
</nav>